$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-facebook: "\e900";
$icon-icon-instagram: "\e901";
$icon-icon-pinterest: "\e902";
$icon-icon-twitter: "\e904";
$icon-icon-youtube: "\e905";

